# Tarea 2. Parte II

**Importamos librerias**

In [16]:
import pandas as pd
import plotly as plt
import numpy as np

**II.1. Separar el dataset en una parte que tenga variables independientes y otra la variable
dependiente.**

In [17]:
df = pd.read_csv("src/employee_attrition_dataset.csv")

independient_varibles = ["Age", "Gender", "Marital_Status"]
dependient_variables = ["Department", 
    "Job_Role", "Job_Level", "Monthly_Income", "Hourly_Rate", "Years_at_Company", 
    "Years_in_Current_Role", "Years_Since_Last_Promotion", "Work_Life_Balance", 
    "Job_Satisfaction", "Performance_Rating", "Training_Hours_Last_Year", "Overtime", 
    "Project_Count", "Average_Hours_Worked_Per_Week", "Absenteeism", 
    "Work_Environment_Satisfaction", "Relationship_with_Manager", "Job_Involvement", 
    "Distance_From_Home", "Number_of_Companies_Worked", "Attrition"
]

x = df[independient_varibles]
y = df[dependient_variables]

**II.2. Cambiar cada dato faltante de cada variable numérica por el promedio de los demás datos.**

In [18]:
cols_num = df.select_dtypes(include="number").columns
for e in cols_num:
    promedio = df[e].mean()
    df[e].fillna(promedio, inplace=True)

C:\Users\alang\AppData\Local\Temp\ipykernel_19612\3101867478.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[e].fillna(promedio, inplace=True)

# Parte III

**III.1. Cambiar a forma numérica las variables categóricas independientes.**

In [19]:
print(df)

     Employee_ID  Age  Gender Marital_Status Department   Job_Role  Job_Level  \
0              1   58  Female        Married         IT    Manager          1
1              2   48  Female        Married      Sales  Assistant          5
2              3   34    Male        Married  Marketing  Assistant          1
3              4   27  Female       Divorced  Marketing    Manager          1
4              5   40    Male       Divorced  Marketing  Executive          1
..           ...  ...     ...            ...        ...        ...        ...
995          996   27  Female       Divorced         HR    Analyst          2
996          997   47    Male         Single         IT    Manager          4
997          998   50  Female       Divorced         IT  Executive          1
998          999   28  Female        Married         HR  Executive          4
999         1000   48  Female       Divorced         IT    Analyst          2

     Monthly_Income  Hourly_Rate  Years_at_Company  ...  Overtime  \
0             15488           28                15  ...        No
1             13079           28                 6  ...       Yes
2             13744           24                24  ...       Yes
3              6809           26                10  ...        No
4             10206           52                29  ...        No
..              ...          ...               ...  ...       ...
995            4172           76                24  ...        No
996           11007           71                19  ...       Yes
997            4641           43                25  ...       Yes
998           19855           92                13  ...        No
999           11738           39                 1  ...       Yes

     Project_Count  Average_Hours_Worked_Per_Week  Absenteeism  \
0                6                             54           17
1                2                             45            1
2                6                             34            2
3                9                             48           18
4                3                             33            0
..             ...                            ...          ...
995              4                             46           10
996              7                             36           16
997              1                             46            9
998              4                             52           17
999              2                             59            5

     Work_Environment_Satisfaction  Relationship_with_Manager Job_Involvement  \
0                                4                          4               4
1                                4                          1               2
2                                3                          4               4
3                                2                          3               1
4                                4                          1               3
..                             ...                        ...             ...
995                              3                          1               4
996                              3                          2               4
997                              2                          3               3
998                              4                          1               4
999                              1                          4               3

     Distance_From_Home  Number_of_Companies_Worked  Attrition
0                    20                           3         No
1                    25                           2         No
2                    45                           3         No
3                    35                           3         No
4                    44                           3         No
..                  ...                         ...        ...
995                  24                           4         No
996                  39                           3        Yes
997                  33                           2         No
998                  41                           4         No
999                  43                           2         No

[1000 rows x 26 columns]

In [20]:
# Genero (variable categorica independiente)
df["Gender"] = df["Gender"].astype("category")
df["Gender"] = df["Gender"].cat.codes

# Marital_Status
df["Marital_Status"] = df["Marital_Status"].astype("category")
df["Marital_Status"] = df["Marital_Status"].cat.codes

print(df)

     Employee_ID  Age  Gender  Marital_Status Department   Job_Role  \
0              1   58       0               1         IT    Manager
1              2   48       0               1      Sales  Assistant
2              3   34       1               1  Marketing  Assistant
3              4   27       0               0  Marketing    Manager
4              5   40       1               0  Marketing  Executive
..           ...  ...     ...             ...        ...        ...
995          996   27       0               0         HR    Analyst
996          997   47       1               2         IT    Manager
997          998   50       0               0         IT  Executive
998          999   28       0               1         HR  Executive
999         1000   48       0               0         IT    Analyst

     Job_Level  Monthly_Income  Hourly_Rate  Years_at_Company  ...  Overtime  \
0            1           15488           28                15  ...        No
1            5           13079           28                 6  ...       Yes
2            1           13744           24                24  ...       Yes
3            1            6809           26                10  ...        No
4            1           10206           52                29  ...        No
..         ...             ...          ...               ...  ...       ...
995          2            4172           76                24  ...        No
996          4           11007           71                19  ...       Yes
997          1            4641           43                25  ...       Yes
998          4           19855           92                13  ...        No
999          2           11738           39                 1  ...       Yes

     Project_Count  Average_Hours_Worked_Per_Week  Absenteeism  \
0                6                             54           17
1                2                             45            1
2                6                             34            2
3                9                             48           18
4                3                             33            0
..             ...                            ...          ...
995              4                             46           10
996              7                             36           16
997              1                             46            9
998              4                             52           17
999              2                             59            5

     Work_Environment_Satisfaction  Relationship_with_Manager Job_Involvement  \
0                                4                          4               4
1                                4                          1               2
2                                3                          4               4
3                                2                          3               1
4                                4                          1               3
..                             ...                        ...             ...
995                              3                          1               4
996                              3                          2               4
997                              2                          3               3
998                              4                          1               4
999                              1                          4               3

     Distance_From_Home  Number_of_Companies_Worked  Attrition
0                    20                           3         No
1                    25                           2         No
2                    45                           3         No
3                    35                           3         No
4                    44                           3         No
..                  ...                         ...        ...
995                  24                           4         No
996                  39                           3        Yes
997                  33                           2         No
998                  41                           4         No
999                  43                           2         No

[1000 rows x 26 columns]

In [21]:
print(len(df.index))

1000

**III.3. Aplicar por lo menos 5 técnicas de limpieza de datos, o las que sean necesarias para hacer los
siguientes puntos**

>La limpieza de datos es importante para evitar errores a futuro de entrenamiento de tecnologías o analisis de datos
1. Para comenzar eliminaremos valores duplicados con la funcion de pandas `drop_duplicates()`

In [22]:
df = df.drop_duplicates()
print(len(df.index))

1000

2. Tambien eliminaremos valores nulos

In [23]:
df = df.dropna() # Eliminar las filas con valores nulos
print(len(df.index))

1000

# Parte IV

**IV.1. Determinar si las variables numéricas tienen valores atípicos.**

Primeramente debemos definir en rango intercuartilico. Para ello tomamos el Q1 y el Q3 como limites para los valores atípicos. Posteriormente actializaremos los datos en cada columna

**Esto lo aplicaremos con cada una de las variables numericas**

In [24]:
Q1 = df["Age"].quantile(0.25)
Q3 = df["Age"].quantile(0.75)

IQR = Q3 - Q1
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

df = df[(df["Age"] >= limite_inferior) & (df["Age"] <= limite_superior)]
print(df)

     Employee_ID  Age  Gender  Marital_Status Department   Job_Role  \
0              1   58       0               1         IT    Manager
1              2   48       0               1      Sales  Assistant
2              3   34       1               1  Marketing  Assistant
3              4   27       0               0  Marketing    Manager
4              5   40       1               0  Marketing  Executive
..           ...  ...     ...             ...        ...        ...
995          996   27       0               0         HR    Analyst
996          997   47       1               2         IT    Manager
997          998   50       0               0         IT  Executive
998          999   28       0               1         HR  Executive
999         1000   48       0               0         IT    Analyst

     Job_Level  Monthly_Income  Hourly_Rate  Years_at_Company  ...  Overtime  \
0            1           15488           28                15  ...        No
1            5           13079           28                 6  ...       Yes
2            1           13744           24                24  ...       Yes
3            1            6809           26                10  ...        No
4            1           10206           52                29  ...        No
..         ...             ...          ...               ...  ...       ...
995          2            4172           76                24  ...        No
996          4           11007           71                19  ...       Yes
997          1            4641           43                25  ...       Yes
998          4           19855           92                13  ...        No
999          2           11738           39                 1  ...       Yes

     Project_Count  Average_Hours_Worked_Per_Week  Absenteeism  \
0                6                             54           17
1                2                             45            1
2                6                             34            2
3                9                             48           18
4                3                             33            0
..             ...                            ...          ...
995              4                             46           10
996              7                             36           16
997              1                             46            9
998              4                             52           17
999              2                             59            5

     Work_Environment_Satisfaction  Relationship_with_Manager Job_Involvement  \
0                                4                          4               4
1                                4                          1               2
2                                3                          4               4
3                                2                          3               1
4                                4                          1               3
..                             ...                        ...             ...
995                              3                          1               4
996                              3                          2               4
997                              2                          3               3
998                              4                          1               4
999                              1                          4               3

     Distance_From_Home  Number_of_Companies_Worked  Attrition
0                    20                           3         No
1                    25                           2         No
2                    45                           3         No
3                    35                           3         No
4                    44                           3         No
..                  ...                         ...        ...
995                  24                           4         No
996                  39                           3        Yes
997                  33                           2         No
998                  41                           4         No
999                  43                           2         No

[1000 rows x 26 columns]

In [25]:
Q1 = df["Hourly_Rate"].quantile(0.25)
Q3 = df["Hourly_Rate"].quantile(0.75)

IQR = Q3 - Q1
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

df = df[(df["Hourly_Rate"] >= limite_inferior) & (df["Hourly_Rate"] <= limite_superior)]

In [26]:
Q1 = df["Years_at_Company"].quantile(0.25)
Q3 = df["Years_at_Company"].quantile(0.75)

IQR = Q3 - Q1
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

df = df[(df["Years_at_Company"] >= limite_inferior) & (df["Years_at_Company"] <= limite_superior)]

In [27]:
Q1 = df["Years_in_Current_Role"].quantile(0.25)
Q3 = df["Years_in_Current_Role"].quantile(0.75)

IQR = Q3 - Q1
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

df = df[(df["Years_in_Current_Role"] >= limite_inferior) & (df["Years_in_Current_Role"] <= limite_superior)]

In [28]:
print(df)

     Employee_ID  Age  Gender  Marital_Status Department   Job_Role  \
0              1   58       0               1         IT    Manager
1              2   48       0               1      Sales  Assistant
2              3   34       1               1  Marketing  Assistant
3              4   27       0               0  Marketing    Manager
4              5   40       1               0  Marketing  Executive
..           ...  ...     ...             ...        ...        ...
995          996   27       0               0         HR    Analyst
996          997   47       1               2         IT    Manager
997          998   50       0               0         IT  Executive
998          999   28       0               1         HR  Executive
999         1000   48       0               0         IT    Analyst

     Job_Level  Monthly_Income  Hourly_Rate  Years_at_Company  ...  Overtime  \
0            1           15488           28                15  ...        No
1            5           13079           28                 6  ...       Yes
2            1           13744           24                24  ...       Yes
3            1            6809           26                10  ...        No
4            1           10206           52                29  ...        No
..         ...             ...          ...               ...  ...       ...
995          2            4172           76                24  ...        No
996          4           11007           71                19  ...       Yes
997          1            4641           43                25  ...       Yes
998          4           19855           92                13  ...        No
999          2           11738           39                 1  ...       Yes

     Project_Count  Average_Hours_Worked_Per_Week  Absenteeism  \
0                6                             54           17
1                2                             45            1
2                6                             34            2
3                9                             48           18
4                3                             33            0
..             ...                            ...          ...
995              4                             46           10
996              7                             36           16
997              1                             46            9
998              4                             52           17
999              2                             59            5

     Work_Environment_Satisfaction  Relationship_with_Manager Job_Involvement  \
0                                4                          4               4
1                                4                          1               2
2                                3                          4               4
3                                2                          3               1
4                                4                          1               3
..                             ...                        ...             ...
995                              3                          1               4
996                              3                          2               4
997                              2                          3               3
998                              4                          1               4
999                              1                          4               3

     Distance_From_Home  Number_of_Companies_Worked  Attrition
0                    20                           3         No
1                    25                           2         No
2                    45                           3         No
3                    35                           3         No
4                    44                           3         No
..                  ...                         ...        ...
995                  24                           4         No
996                  39                           3        Yes
997                  33                           2         No
998                  41                           4         No
999                  43                           2         No

[1000 rows x 26 columns]

# Parte V
**Estandarizar las variables numericas**
Para este paso hemos de hacerlo columna por columna como en el anterior paso. Para ello nos guiaremos de la siguiente formula:
$$z = \frac{(X-\mu)}{\sigma}$$

En codigo quedaría de la siguiente manera:

In [ ]:
df["Hourly_Rate"] = (df["Hourly_Rate"] - df["Hourly_Rate"].mean()) / df["Hourly_Rate"].std()
df["Years_at_Company"] = (df["Years_at_Company"] - df["Years_at_Company"].mean()) / df["Years_at_Company"].std()
df["Years_in_Current_Role"] = (df["Years_in_Current_Role"] - df["Years_in_Current_Role"].mean()) / df["Years_in_Current_Role"].std()
df["Years_Since_Last_Promotion"] = (df["Years_Since_Last_Promotion"] - df["Years_Since_Last_Promotion"].mean()) / df["Years_Since_Last_Promotion"].std()
df["Work_Life_Balance"] = (df["Work_Life_Balance"] - df["Work_Life_Balance"].mean()) / df["Work_Life_Balance"].std()
df["Job_Satisfaction"] = (df["Job_Satisfaction"] - df["Job_Satisfaction"].mean()) / df["Job_Satisfaction"].std()
df["Performance_Rating"] = (df["Performance_Rating"] - df["Performance_Rating"].mean()) / df["Performance_Rating"].std()
df["Training_Hours_Last_Year"] = (df["Training_Hours_Last_Year"] - df["Training_Hours_Last_Year"].mean()) / df["Training_Hours_Last_Year"].std()
df["Project_Count"] = (df["Project_Count"] - df["Project_Count"].mean()) / df["Project_Count"].std()
df["Average_Hours_Worked_Per_Week"] = (df["Average_Hours_Worked_Per_Week"] - df["Average_Hours_Worked_Per_Week"].mean()) / df["Average_Hours_Worked_Per_Week"].std()
df["Absenteeism"] = (df["Absenteeism"] - df["Absenteeism"].mean()) / df["Absenteeism"].std()

# Parte VI

VI.1. Generar un nuevo dataset con los cambios realizados en las variables categóricas y las variables
numéricas en las partes anteriores

In [32]:
df.to_csv("new_employee_attrition_dataset.csv", index=False)

**VI.2. Realizar un análisis estadístico exploratorio de los datos obtenidos en el inciso VI.1 que
contenga por lo menos lo siguiente:**

A) Número de valores por cada variable numérica transformada
vs el número de valores de cada variable numérica original en una tabla

In [33]:
# Creamos el nuevo data frame para el nuevo dataset
new_df = pd.read_csv("new_employee_attrition_dataset.csv")
old_df = pd.read_csv("src/employee_attrition_dataset.csv")

new_count = new_df.select_dtypes(include=np.number).count()
original_count = old_df.select_dtypes(include=np.number).count()

comparasion_df = pd.DataFrame({"original": original_count, "new": new_count})
print(comparasion_df)

                               original   new
Absenteeism                      1000.0  1000
Age                              1000.0  1000
Average_Hours_Worked_Per_Week    1000.0  1000
Distance_From_Home               1000.0  1000
Employee_ID                      1000.0  1000
Gender                              NaN  1000
Hourly_Rate                      1000.0  1000
Job_Involvement                  1000.0  1000
Job_Level                        1000.0  1000
Job_Satisfaction                 1000.0  1000
Marital_Status                      NaN  1000
Monthly_Income                   1000.0  1000
Number_of_Companies_Worked       1000.0  1000
Performance_Rating               1000.0  1000
Project_Count                    1000.0  1000
Relationship_with_Manager        1000.0  1000
Training_Hours_Last_Year         1000.0  1000
Work_Environment_Satisfaction    1000.0  1000
Work_Life_Balance                1000.0  1000
Years_Since_Last_Promotion       1000.0  1000
Years_at_Company                 1000.0  1000
Years_in_Current_Role            1000.0  1000